{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/memory_test.css') }}">

<div class="container text-center mt-5">
    <h2>Round {{ round_num }}</h2>
    <h2>Memorize these shapes:</h2>
    <div id="shapes-frame">
        {% for shape in shapes %}
            <div class="shape {{ shape }}" 
                style="background-color: {{ shape_colours[loop.index0] }};
                top: {{ shape_positions[loop.index0].top }}px;
                left: {{ shape_positions[loop.index0].left }}px;">
            </div>
        {% endfor %}
    </div>
</div>

<script>
    // redirect to comparison phase after customized seconds
    setTimeout(function() {
        window.location.href = "{{ url_for('main.memory_test') }}";
    }, {{ memorization_time * 1000 }}); 
</script>
{% endblock %}
